'menu': [
  {
    'label': 'View'
    'submenu': [
      'label': 'Components'
      'submenu': [
        { 'label': 'Chart', 'command': 'charts:create-chart' }
      ]
    ]
  }
]

'context-menu':
  '.chart .panel-values .panel-value': [
    {label: 'Customize Layer', command: 'charts:customize-layer'}
    {label: 'Remove Layer', command: 'charts:remove-layer'}
  ]
  '.chart .panel:not(.center)': [
    {label: 'Remove Panel', command: 'charts:remove-panel'}
  ]
  '.symbol-explorer .market': [
    {label: 'Open Chart', command: 'charts:create-chart'}
  ]
