@import "variables";
@import "plugins/plots/area";
@import "plugins/plots/line";
@import "plugins/plots/candlestick";
@import "plugins/plots/ohlc";
@import "plugins/plots/heikin-ashi";

@import "plugins/tools/symbol";
@import "plugins/tools/type";
@import "plugins/tools/indicators";
@import "plugins/tools/granularity";

@import "plugins/indicators/volume";

@import "plugins/overlays/current-value";
@import "plugins/overlays/sma";
@import "plugins/overlays/bollinger-bands";

@import "plugins/other/crosshair";

@chart-tools-height: 32px;
@chart-panel-border-width: 1px;
@chart-panel-border-color: #181818;

.chart
{
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-font-smoothing: antialiased;

    svg
    {
        display: block;
    }

    .layer
    {
        pointer-events: none;
    }

    .chart-panels
    {
        flex: 1;
        display: flex;
        flex-direction: column;

        .panel
        {
            display: flex;
            flex: 1;
            overflow: hidden;
            border-top: @chart-panel-border-width solid @chart-panel-border-color;

            &.center
            {
                flex: 3;
            }

            .panel-center
            {
                flex: 1;
                overflow: hidden;
            }

            &:last-child
            {
                border-bottom: 0;
                margin-bottom: 0;
            }
        }
    }

    .chart-center
    {
        flex: 1;
        min-width: 0;
        min-height: 0;
    }

    .chart-tools
    {
        height: @chart-tools-height;
        display: flex;

        .chart-tools-left, .chart-tools-right
        {
            display: flex;
            align-items: center;
            padding: 0 10px;
        }

        .chart-tools-spacer
        {
            flex: 1;
        }
    }

    .zoomable
    {
        fill: transparent;
        cursor: none;
    }

    clipPath rect
    {
        fill: transparent;
    }

    .grid
    {
        pointer-events: none;

        line
        {
            stroke: #333;
            // stroke-dasharray: 8;
        }

        path
        {
            display: none;
        }
    }


    .axis
    {
        pointer-events: none;

        line, path
        {
            stroke: #444;
        }

        text
        {
            fill: @text-color-subtle;
            font-weight: 700;
            font-size: 11px;
        }
    }

    .chart-axis
    {
        &.x
        {
            height: 22px;
            padding-right: 60px;
        }

        &.y
        {
            width: 60px;
        }
    }

    .last-price-flag
    {
        text
        {
            fill: #FFF;
            font-size: 11px;
            font-weight: 700;
        }

        rect
        {
            fill: #F22613;
        }

        rect.up
        {
            fill: @primary-color;
        }
    }
}
