@import "variables";
@import "plugins/plots/area";
@import "plugins/plots/line";
@import "plugins/plots/candlestick";
@import "plugins/plots/ohlc";
@import "plugins/plots/heikin-ashi";

@import "plugins/tools/symbol";
@import "plugins/tools/type";
@import "plugins/tools/indicators";
@import "plugins/tools/granularity";

@import "plugins/indicators/volume";
@import "plugins/indicators/trades";
@import "plugins/indicators/rsi";

@import "plugins/overlays/current-value";
@import "plugins/overlays/sma";
@import "plugins/overlays/ema";
@import "plugins/overlays/bollinger-bands";
@import "plugins/overlays/ichimoku-cloud";

@import "plugins/other/crosshair";

@import "plugins/drawings/horizontal-line";
@import "plugins/drawings/vertical-line";
@import "plugins/drawings/measure";
@import "plugins/drawings/date-value-range";
@import "plugins/drawings/circle";

@chart-tools-height: 24px;
@chart-panel-border-width: 1px;
@chart-panel-border-color: @header-border-color;
@chart-panel-background-color: #282828;//@pane-background-color;

.chart
{
    display: flex;
    flex-direction: column;
    position: relative;
    -webkit-font-smoothing: antialiased;

    svg
    {
        display: block;
    }

    .layer
    {
        pointer-events: none;

        &.selectable
        {
            pointer-events: all;
        }

        circle.handle
        {
            fill: #FFF;
            stroke: @chart-panel-background-color;
            stroke-width: 2px;
        }
    }

    .chart-panels
    {
        flex: 1;
        display: flex;
        flex-direction: column;
        background: @chart-panel-background-color;

        .panel
        {
            display: flex;
            flex: 1;
            overflow: hidden;
            // border-top: @chart-panel-border-width solid @chart-panel-border-color;
            border-bottom: @chart-panel-border-width solid @chart-panel-border-color;
            position: relative;
            // margin-bottom: 3px;
            background: @chart-panel-background-color;

            &.center
            {
                flex: 3;

                .chart-axis.y .zoomable:active
                {
                    cursor: ns-resize;
                }
            }

            .panel-center
            {
                flex: 1;
                overflow: hidden;

                .zoomable
                {
                    cursor: none;
                }
            }

            .panel-background
            {

            }

            .panel-values
            {
                position: absolute;
                top: 4px;
                left: 8px;
                z-index: 2;

                .panel-value
                {
                    display: flex;
                    font-size: 11px;
                    font-weight: 500;
                    -webkit-font-smoothing: antialiased;
                    color: @text-color-subtle;
                    line-height: 20px;
                    height: 20px;
                    cursor: default;
                    user-select: none;

                    .title
                    {
                        margin-right: 12px;
                        color: #FFF;
                    }

                    span
                    {
                        font-size: 11px;
                        margin: 0 6px;
                        color: @text-color;

                        &.up
                        {
                            color: @primary-color-up;
                        }

                        &.down
                        {
                            color: @primary-color-down;
                        }

                        &.unavailable
                        {
                            color: @text-color-subtle;
                        }

                        &.first
                        {
                            margin-left: 0;
                        }
                    }
                }
            }

            &:last-child
            {
                margin-bottom: 0;
            }
        }
    }

    .chart-center
    {
        flex: 1;
        min-width: 0;
        min-height: 0;
    }

    .chart-tools
    {
        .chart-tools-left, .chart-tools-right
        {
            display: flex;
            align-items: center;
        }

        .chart-tools-left
        {
            .btn
            {
                border-right: 1px solid @chart-panel-border-color;
            }
        }

        .chart-tools-right
        {
            .btn
            {
                border-left: 1px solid @chart-panel-border-color;
            }
        }

        .chart-tools-spacer
        {
            flex: 1;
        }

        .btn
        {
            height: @chart-tools-height;
            line-height: @chart-tools-height;
        }
    }

    .zoomable
    {
        fill: transparent;
    }

    clipPath rect
    {
        fill: transparent;
    }

    .grid
    {
        pointer-events: none;

        line
        {
            stroke: fade(@header-border-color, 50%);
            // stroke: @header-border-color;
            // stroke: fade(@text-color-subtle, 20%);
            // stroke: fade(@text-color-subtle, 0%);
            // stroke-dasharray: 5, 15;
        }

        path
        {
            display: none;
        }
    }


    .axis
    {
        pointer-events: none;

        path
        {
            display: none;
        }

        line
        {
            stroke: fade(@text-color-subtle, 40%);
            // stroke: @header-border-color;
        }

        text
        {
            -webkit-font-smoothing: auto;
            fill: @text-color-subtle;
            // font-weight: 500;
            font-size: 10px;
        }
    }

    .chart-axis
    {
        &.x
        {
            height: 22px;
            background: @header-background-color;
        }

        &.y
        {
            border-left: 1px solid @header-border-color;
        }
    }

    .last-price-flag
    {
        text
        {
            fill: #FFF;
            font-size: 11px;
            font-weight: 700;
        }

        rect
        {
            fill: #F22613;
        }

        rect.up
        {
            fill: @primary-color;
        }
    }

    .flag, .range
    {
        &.hidden
        {
            display: none;
        }
    }
}
